*{
  margin:5px;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBlack {
  display: flex;
  align-items: center;
  padding-bottom: 5px;

}

.containerMine{
  display: flex;
  justify-content: space-evenly;

}

.block{

}

.firstBlock{

}

.blockHeader{
  background-color: #bcc6a0;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  border:thin solid dimgrey;
  width:400px;
  box-shadow: 10px 5px 5px grey;
}

.blockHeaderLeft{
  display: flex;
  align-items: center;
}

.blockHeaderRight{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonAdd{

}

.buttonProfile{

}

.blockInside{

}

.blockTitle{

  font-size: larger;
}


.cards{
  background-color:#a0c6bd ;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.modalBtn{
  position:fixed;
  bottom:20px;
  right:20px;

}